body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.carousel-inner>.item>img{
display: block;
height: auto;
max-width: 100%;
line-height: 1;
width: 100%; // Add this
}